ipython==8.15.0
ipython-genutils==0.2.0
Pillow==10.0.1
nbconvert==7.8.0
matplotlib==3.8.0
matplotlib-inline==0.1.6
numpy==1.26.0
pandas==2.1.1
pandoc==2.3
streamlit==1.27.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
keras==2.15.0